:root {
    --cor-de-fundo:#FFFFFF;
    --cor-cabecalho:#FA8072;
    --fundo-menu:#FFE4E1;
}

body {
    background-color: var(--cor-de-fundo);
}

.cabecalho {
    background-color: var(--cor-cabecalho);
}

.cabecalho-titulo {
    font-size: 36px;
    font-weight: 700;
    padding: 12px;
    text-align:center;
}

.cabecalho-menu {
    display:block;
    padding: 10px;
    font-size: 30px;
    text-decoration:dashed;
    color:black;
    text-align: center;
    border-top: 1px solid;
}
.cabecalho-menu-item {
    display:block;
    padding: 10px;
    font-size: 30px;
    text-decoration:none;
    color:black;
    text-align: center;
    border-top: 1px solid;
}
#burguer {
    background-color:#000000;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    }
    #menu {
    display: none;
    }